extends layout 

block extraHeader 
  link(rel='stylesheet', href='/stylesheets/style_forms.css')
block content 
    div(class="form_container")
        h1 Update #{title}
        form(method = "POST" action= "")
            div(class ="form-group")
                label(for="name")
                    h5 Name: 
                input(type="text", class="form-control" name="name" required= true, value=album.name)
                br
                label(for="img_url")
                    h5 Image URL: 
                input(type="text", class="form-control" name="img_url" required= true placeholder="E.g. http://" value=album.img_url)
                br
                label(for="date_release")
                    h5 Date of Release: 
                input(type="date", class="form-control" name="date_release" required= true)
                br
                label(for="artist")
                    h5 Artist: 
                select(type='select' name="artist" class="form-control" id="authors" required=true)
                    each artist in artists
                        option(value=artist._id) #{artist.name}
                br
                label(for="genres")
                    h5  Genre: 
                br
                for genre in genres
                    div(style='display: inline; padding-right:10px; padding-left:12px;')
                        input(type='checkbox', name='genre', id=genre._id, value=genre._id, checked=genre.checked )
                        label(for=genre._id) #{genre.name}
                br
                button(type="submit" class="btn btn-info") Update 