extends layout

block content
  
  div(class="content")
    div(class="title") 
      h1(style='text-align: center;')= title 
      ul
        li #[strong Artists:] !{data.artists_count}
        li #[strong Songs:] !{data.songs_count}
        li #[strong Albums:] !{data.albums_count}
        li #[strong Genres:] !{data.genres_count}
